.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureLink {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

.featureLink:hover {
  color: var(--ifm-color-primary);
  text-decoration: underline;
  cursor: pointer;
}
